body {
    background-color: black;
    color: white;
}
.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.top-right button {
    background-color: #3b3a3a;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
}
.top-right button:hover {
    background-color: #575656;
}
.quantity {
    font-size: 20px;
    margin: 0 10px;
}

    